*{
    box-sizing: border-box;
    font-style: italic;
    text-align: center;
}
.nav-custom{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.navbar-brand{
    position: absolute;
    left: 5%;
}
.page{
    position: absolute;
    width: 100vw;
    top: 8vh;
    display: flex;
    flex-direction: column;
}
#search{
    height: 40vh;
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;
}
.title{
    position: relative;
    margin: 0;
    top: 20%;
    font-size: 3vw;
}
.title > a:hover {
    text-decoration: none;
}
.city-input{
    position: relative;
    top: 40%;
    align-self: center;
    width: 36%;
    height: 9.2%;
    /* border: 1px solid black; */
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: #c3f5ab;
}
.search-input{
    width: 85%;
    border: none;
    border-radius: 10px;
    background-color: #c3f5ab;
}
.search-input:focus, .search-btn:focus, .gps-btn:focus{
    outline: none;
    background-color: #98eb72;
}
.search-btn, .gps-btn{
    width: 7.5%;
    border: none;
    border-radius: 10px;
    background: none;
}
.search-btn:hover, .gps-btn:hover{
    background-color: #98eb72;
}
.results{
    height: 100vh;
    /*border: 3px solid green;*/
    display: flex;
    flex-direction: column;
}
.current{
    height: 20%;
    border: 2px solid violet;
    display: flex;
    flex-direction: row;
}
.current > div{
    border: 1px dotted violet;
    width: 33.3%;
}
.degrees-details{
    display: flex;
    flex-direction: column;
}
.degrees-details > p:first-child{
    margin-top: 2%;
}
.forecasts{
    margin: 1.5% 0 1.5% 0;
    height: 45%;
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
}
.fore-selectors{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}
.fore-selectors > a{
    width: 33.3%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.not-selected{
    border-bottom: 1px dotted orange;
}
.selected{
    border: 1px dotted orange;
    border-bottom: none;
}
.fore-selectors > a:hover{
    cursor: pointer;
}
.forecast-data{
    /* border: 2px solid magenta; */
    height: 90%;
    display: flex;
    flex-direction: row;
}
.fore-card{
    position: relative;
    top: 11%;
    width: 18%;
    height: 75%;
    border: 1px dotted orange;
    border-radius: 10%;
    margin-left: 5.5%;
}
.details{
    height: 35%;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
}
.details-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#details-btn{
    position: relative;
    margin-left: 1%;
    width: 2%;
    border: none;
    border-radius: 20px;
    background: none;
}
#details-btn:focus {
    outline: none;
}
.rotated {
    transform: rotate(180deg);
}
#details-data{
    height: 80%;
    /*border: 2px solid yellow;*/
    display: none;
    flex-direction: row;
}
.det-card{
    position: relative;
    top: 5%;
    width: 15%;
    height: 80%;
    border: 1px dotted blue;
    border-radius: 10%;
    margin-left: 1.5%;
}
.disabled{
    display: none;
}