*{
    box-sizing: border-box;
}
.nav-custom{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    z-index: 1;
}
.navbar-brand{
    position: absolute;
    left: 5%;
}
.menu{
    position: absolute;
    right: 4%;
}
.menu:last-of-type{
    display: none;
}
nav > .city-input{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 55%;
    display: none;
}
.page{
    position: absolute;
    width: 100vw;
    top: 8vh;
    display: flex;
    flex-direction: column;
}
.search{
    height: 60vh;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.title{
    position: relative;
    margin: 0;
    top: 35%;
    font-size: 3.5vw;
}
.city-input{
    position: relative;
    top: 40%;
    left: 25%;
    width: 55%;
    height: 8%;
    display: flex;
    flex-direction: row;
}
.search-input{
    width: 100%;
    border-radius: 5px;
}
.search-btn, .gps-btn{
    width: 10%;
    border: none;
    border-radius: 15px;
    text-align: center;
    margin-left: 1%;
}
.city-input > .material-icons{
    font-size: 2.5vw;
}
.results{
    height: 120vh;
    border: 3px solid green;
    display: flex;
    flex-direction: column;
}
.weather-now{
    height: 27%;
    border: 2px solid violet;
    display: flex;
    flex-direction: row;
}
.weather-now > div{
    border: 1px dotted violet;
    width: 33.3%;
    text-align: center;
}
.degrees-details{
    display: flex;
    flex-direction: column;
}
.degrees-details > p:first-child{
    margin-top: 8%;
}
.forecasts{
    height: 45%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
.links{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    border: 2px dotted blue;
}
.links > a{
    width: 33.3%;
    border: 1px dotted orange;
    text-align: center;
}
.forecast-data{
    border: 2px solid magenta;
    height: 90%;
    display: flex;
    flex-direction: row;
}
.forecast-data > div{
    position: relative;
    top: 5%;
    width: 20%;
    height: 90%;
    border: 1px dotted yellowgreen;
    border-radius: 10%;
    margin-left: 2%;
}
.details{
    height: 27%;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}
.details > div{
    position: relative;
    top: 5%;
    width: 15%;
    height: 90%;
    border: 1px dotted blue;
    border-radius: 10%;
    margin-left: 1.5%;
}