@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("/assets/font/Segoe UI Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("/assets/font/Segoe UI Italic.woff") format("woff");
  font-style: italic;
  font-weight: 600; }

@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url("/assets/font/Segoe UI Bold Italic.woff") format("woff");
  font-style: italic;
  font-weight: 600; }

.flex, .flex-column, .flex-column-space-around, .page, .settings, .suggestions, main, .cw-details, .weather-details, .data-card, .details-data, .desktop-row, body, .homepage, .forecasts, .details, .flex-row, .flex-row-space-around, form, .option, .time-selectors, header, .settings-heading, .home-form, .current-weather, .forecast-data, .details-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column, .flex-column-space-around, .page, .settings, .suggestions, main, .cw-details, .weather-details, .data-card, .details-data, .desktop-row, body, .homepage, .forecasts, .details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row, .flex-row-space-around, form, .option, .time-selectors, header, .settings-heading, .home-form, .current-weather, .forecast-data, .details-heading {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column-space-around, .page, .settings, .suggestions, main, .cw-details, .weather-details, .data-card, .details-data, .desktop-row {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-row-space-around, form, .option, .time-selectors {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

section {
  margin-bottom: 50px; }

form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid purple;
  border-radius: 20px; }
  form button {
    width: 25px;
    border-radius: 20px;
    background: none;
    height: 70%;
    border: none; }
    form button img {
      height: 90%; }
  form input {
    width: 70%;
    height: 80%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    border: none;
    background: none;
    font-weight: 400;
    font-style: italic; }

input:focus, button:focus {
  outline: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  width: 100%;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  background-image: url("/assets/img/mobile/home-bg.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover; }

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: fixed;
  background-color: transparent; }
  header .brand {
    font-size: 18px;
    font-weight: 600;
    opacity: 0; }
  header img {
    height: 20px; }

.page {
  position: relative;
  width: 85%;
  margin: auto; }

.settings {
  position: fixed;
  top: 40vh;
  left: 10%;
  width: 80%;
  height: 230px;
  text-align: left;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  z-index: 2;
  display: none; }

.settings-heading {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .settings-heading h3 {
    margin-left: 39%;
    font-weight: 600; }
  .settings-heading img {
    margin-right: 5%;
    width: 30px; }

.option {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
  width: 90%;
  margin: 0 auto; }
  .option h5 {
    font-weight: 600; }
  .option button {
    width: 20%;
    height: 100%;
    border-radius: 20px;
    font-style: italic;
    font-weight: 600;
    background: none;
    border: none; }
    .option button:first-of-type {
      background-color: lightskyblue; }

.settings h4 {
  text-align: center; }
  .settings h4 a {
    color: black;
    text-decoration: none; }

.homepage {
  height: 90vh;
  margin-bottom: 0; }
  .homepage p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 110px; }

h1 {
  width: auto;
  margin: 25px auto 0 auto; }

.brand {
  font-size: 38px;
  font-weight: 400;
  color: black;
  text-decoration: none; }
  .brand:hover, .brand:active {
    text-decoration: none; }

.home-form, .suggestions {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.45); }

.home-form {
  height: 40px;
  margin: 30px auto 30px auto;
  border: none; }
  .home-form button {
    width: 35px; }

.search-input {
  font-size: 14px; }

.suggestions {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  border-radius: 20px;
  opacity: 0; }

.city-option {
  font-size: 14px;
  margin: 20px 0; }

main {
  border: 3px solid green;
  display: none; }

.current-weather {
  height: 120px;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid violet;
  margin-bottom: 20px; }

.cw-details {
  width: 70%;
  text-align: left;
  font-weight: 400; }
  .cw-details p:nth-of-type(2) {
    font-size: 22px;
    font-weight: 600; }

.weather-details {
  margin: auto;
  height: 105%; }
  .weather-details img {
    height: 50%; }
  .weather-details p {
    font-weight: 600; }

.forecasts {
  height: 400px;
  margin: 25px 0;
  border-radius: 20px;
  border: 2px solid orange; }

.time-selectors {
  width: 90%;
  height: 20%;
  margin: 10px auto; }

.time-option {
  width: 25%;
  height: 35%;
  margin: auto;
  font-size: 17px;
  font-weight: 400;
  background: none;
  border: none;
  border-radius: 20px;
  font-style: italic; }
  .time-option:focus {
    background-color: lightsalmon; }

.forecast-data {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85%; }

.data-card {
  width: 18%;
  height: 90%;
  border: 1px dotted orange;
  margin-left: 5.5%; }

.details {
  border-radius: 20px;
  margin-bottom: 0; }

.details-heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px; }
  .details-heading h3 {
    font-weight: 600; }

.details-btn {
  width: 10%;
  margin: 5px 0 0 0;
  border: none;
  background: none; }
  .details-btn img {
    width: 30px; }

.details-data {
  margin-top: 30px; }

.det-card {
  width: 100%;
  height: 100px;
  border: 1px dotted blue;
  border-radius: 20px;
  margin-bottom: 30px; }

@media only screen and (min-width: 600px) and (max-width: 950px) {
  header {
    padding: 10px 50px 0 50px; }
    header .brand {
      font-size: 24px; }
    header img {
      height: 25px; }
  .settings {
    width: 60%;
    height: 270px;
    top: 30vh;
    left: 20%; }
  .settings-heading h3 {
    font-size: 22px; }
  .homepage {
    height: 80vh; }
    .homepage p {
      font-size: 22px; }
  .brand {
    font-size: 48px; }
  .home-form {
    height: 50px;
    margin-top: 70px;
    border-radius: 30px; }
    .home-form button {
      width: 50px; }
    .home-form input {
      font-size: 20px; }
  .suggestions {
    margin-top: 25px; }
  .current-weather {
    height: 180px;
    padding-left: 30px; }
  .cw-details {
    font-size: 22px; }
    .cw-details p:nth-of-type(2) {
      font-size: 36px; }
  .weather-details p {
    font-size: 26px; }
  .forecasts {
    height: 450px; }
  .time-option {
    font-size: 21px; }
  .details-heading h3 {
    font-size: 26px; }
  .details-btn img {
    width: 40px; }
  .det-card {
    height: 180px;
    margin-bottom: 60px; }
    .det-card:last-of-type {
      margin-bottom: 70px; } }

@media only screen and (max-height: 500px) and (orientation: landscape) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px; }
    header .brand {
      font-size: 18px; }
  .settings-icon {
    position: initial;
    height: 20px; }
  .settings {
    top: 25vh;
    width: 50%;
    height: 220px;
    left: 25%; }
  .settings-heading h3 {
    margin-left: 42%; }
  .settings-heading img {
    width: 20px; }
  .homepage {
    height: 85vh; }
    .homepage p {
      margin-top: 20px;
      font-size: 16px; }
  h1 {
    margin-top: 10px;
    margin-bottom: 10px; }
    h1 a {
      font-size: 38px !important; }
  .home-form, .suggestions {
    width: 85%; }
  .home-form {
    height: 35px;
    margin-top: 15px;
    margin-bottom: 20px; }
    .home-form button {
      width: 35px; }
    .home-form input {
      font-size: 14px; }
  .suggestions {
    margin-top: 5px; }
  .current-weather {
    height: 130px;
    padding-left: 30px; }
  .cw-details {
    font-size: 17px; }
    .cw-details p:nth-of-type(2) {
      font-size: 26px; }
  .weather-details p {
    font-size: 20px; }
  .forecasts {
    height: 370px; }
  .time-option {
    width: 30%;
    font-size: 19px; }
  .details-heading {
    margin-bottom: 0; }
    .details-heading h3 {
      font-size: 22px; }
  .details-btn img {
    width: 30px; }
  .det-card {
    height: 120px; } }

@media only screen and (min-width: 950px) {
  header {
    height: 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 100px 0 100px; }
    header .brand {
      font-size: 28px; }
    header img {
      height: 25px; }
  .settings-icon {
    cursor: pointer; }
  .settings {
    top: 25vh;
    width: 40%;
    height: 300px;
    left: 30%; }
  .settings-heading h3 {
    font-size: 24px; }
  .option h5 {
    font-size: 20px; }
  .option button {
    border-radius: 40px;
    font-size: 18px; }
  .settings h4 a:active {
    text-decoration: underline; }
  .homepage {
    height: 85vh; }
    .homepage p {
      font-size: 26px; }
  h1 {
    margin-bottom: 20px; }
  .brand {
    font-size: 80px; }
  .home-form, .suggestions {
    border-radius: 40px; }
  .home-form {
    height: 50px;
    margin-bottom: 40px; }
    .home-form input {
      width: 60%;
      font-size: 24px; }
    .home-form button {
      width: 65px;
      height: 95%;
      cursor: pointer; }
  .suggestions {
    min-height: 200px; }
  .city-option {
    margin: 0;
    height: 20px;
    border: 2px solid red; }
  main {
    width: 90%;
    margin: auto; }
  .current-weather, .forecasts {
    margin-bottom: 80px; }
  .current-weather {
    height: 250px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .cw-details {
    width: 50%;
    font-size: 28px; }
    .cw-details p:nth-of-type(2) {
      font-size: 50px; }
  .weather-details {
    margin: initial; }
    .weather-details p {
      font-size: 32px; }
  .forecasts {
    height: 550px; }
  .time-option {
    font-size: 28px; }
    .time-option:hover {
      cursor: pointer; }
  .details-heading h3 {
    font-size: 34px; }
  .details-btn {
    width: 70px;
    cursor: pointer; }
    .details-btn img {
      width: 50px; }
  .desktop-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 50px; }
  .det-card {
    width: 40%;
    height: 180px; } }
