.flex, .flex-column, .flex-column-space-around, .page, .settings, main, .degrees-details, .weather-details, .data-card, .details-data, body, .homepage, .forecasts, .details, .flex-row, .flex-row-space-around, header, .time-selectors, form, .settings-heading, .option, .home-form, .current-weather, .forecast-data, .details-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-column, .flex-column-space-around, .page, .settings, main, .degrees-details, .weather-details, .data-card, .details-data, body, .homepage, .forecasts, .details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row, .flex-row-space-around, header, .time-selectors, form, .settings-heading, .option, .home-form, .current-weather, .forecast-data, .details-heading {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column-space-around, .page, .settings, main, .degrees-details, .weather-details, .data-card, .details-data {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-row-space-around, header, .time-selectors {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

section {
  margin-bottom: 50px; }

form {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid purple;
  border-radius: 20px; }
  form button {
    width: 25px;
    border-radius: 20px;
    background: none;
    height: 70%;
    border: none; }
    form button img {
      height: 100%; }
  form input {
    width: 70%;
    height: 70%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    border: none; }

input:focus, button:focus {
  outline: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  width: 100%;
  font-style: italic;
  text-align: center; }

header {
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: fixed;
  background-color: darkkhaki; }
  header img {
    height: 40%; }
    header img:last-of-type {
      position: relative;
      left: 150px; }

.header-city-form {
  width: 70%;
  height: 80%;
  display: none; }

.page {
  position: relative;
  top: 50px;
  width: 320px;
  margin: auto; }

.settings {
  position: fixed;
  top: 40vh;
  width: inherit;
  height: 200px;
  text-align: left;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  z-index: 2;
  display: none; }

.settings-heading {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .settings-heading h3 {
    margin-left: 35%; }
  .settings-heading img {
    margin-right: 5%;
    width: 20px; }

.option {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
  width: 90%;
  margin: 0 auto; }
  .option button {
    width: 20%;
    height: 100%;
    border-radius: 20px;
    background: none;
    border: none; }
    .option button:first-of-type {
      background-color: lightskyblue; }

.homepage {
  height: 90vh; }

h1 {
  width: auto;
  margin: 150px auto 50px auto; }

.brand {
  font-size: 26px;
  color: black;
  text-decoration: none; }
  .brand:hover, .brand:active {
    text-decoration: none; }

.home-form {
  width: 300px;
  height: 40px;
  margin: 10px auto 30px auto; }

.suggestions {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid navy; }

.current-weather {
  height: 110px;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid violet;
  margin-bottom: 20px; }

.degrees-details {
  width: 70%;
  text-align: left; }
  .degrees-details p:nth-of-type(2) {
    font-size: 22px;
    font-weight: bold; }

.weather-details {
  margin: auto;
  height: 105%; }
  .weather-details img {
    height: 50%; }

.forecasts {
  height: 400px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 2px solid orange; }

.time-selectors {
  width: 90%;
  height: 20%;
  margin: 10px auto; }

.time-option {
  width: 31%;
  height: 35%;
  margin: auto;
  font-size: 17px;
  background: none;
  border: none;
  border-radius: 20px;
  font-style: italic; }
  .time-option:focus {
    background-color: lightsalmon; }

.forecast-data {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85%; }

.data-card {
  width: 18%;
  height: 80%;
  border: 1px dotted orange;
  margin-left: 5.5%; }

.details {
  border-radius: 20px;
  margin-bottom: 0; }

.details-heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px; }

.details-btn {
  width: 10%;
  margin-left: 10px;
  border: none;
  background: none; }
  .details-btn img {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.details-data {
  margin-top: 30px;
  display: none; }

.det-card {
  width: 100%;
  height: 100px;
  border: 1px dotted blue;
  border-radius: 20px;
  margin-bottom: 30px; }
